################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Schedule/Schedule/bin
/Schedule/Schedule.Android/bin
/Schedule/Schedule.Android/obj
/Schedule/Schedule/obj
/.vs/Schedule/v15
*.bak
